button.star-fall{
    padding: 4px 14px;
    margin: 3px;
    font-family: 'Roboto';
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: font-size 0.5s;
    font-size: 12px;
}
button.star-fall.violet{
    transition: all 0.5s;
    color: rgb(190,169,222);
    background-color: rgb(19,24,98);
    font-size: 12px;
}
button.star-fall.light{
    transition: all 0.5s;
    color: rgb(46,68,130);
    background-color: rgb(135,136,156);
    font-size: 12px;
}
button.star-fall.violet:hover{
    transition: all 0.5s;
    background-color: rgb(46,68,130);
    font-size: 13px;
}
button.star-fall.light:hover{
    transition: all 0.5s;
    background-color: rgb(190,169,222);
    font-size: 13px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.sky-icon{
      position: relative;
      margin: 5px;
  }
button.sky-fav-button{
    border-radius: 20px;
    padding: 0px;
}
button.sky-fav-button.primary:hover{
    background-color: white;
    transition: background-color 0.5s;
}
button.sky-fav-button.primary{
    transition: background-color 0.5s;
    background-color: rgb(173, 179, 231);
}